/* body {
    padding: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    letter-spacing: 1px;
} */

ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

.container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 30px 30px 30px;
    margin: 20px;
  }
