{% extends 'base.html' %} {% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'goals/css/goals.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h2>Edit page:</h2>
  <h3>{{ item }}</h3>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" id="save" name="edit" value="Save">
    <input type="submit" id="delete" name="delete" value="Delete">
    <a href="{% url 'goal_list' %}">Cancel</a>
  </form>
</div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('input#delete').on('click', function(e) {
      if(!confirm('Are you sure you want to delete {{ item }}?')) {
        e.preventDefault();
      }
    })
  });
</script>
{% endblock %}
