{% extends 'base.html' %} {% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'goals/css/goals.css' %}">
{% endblock %}

{% block content %}

<div class="container" id="goal-list">
  <h2>Goal List:</h2>
  <ul>
    {% for goal in goals %}
      <li>{{ goal.name }}</li>
    {% endfor %}
  </ul>
</div>

<div class="container" id="new-goal">
  <h2>Create New Goal:</h2>
  <div class="hidden" id="goal-form">
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name='action' value="new_goal">
      <label for="{{ goal_form.name.id_for_label }}">Name:</label>
      {{ goal_form.name }}
      <br><br>
      <label for="{{ goal_form.description.id_for_label }}">Description:</label>
      {{ goal_form.description }}
      <br><br>
      <label for="{{ goal_form.tasks.id_for_label }}">Tasks:</label>
      {{ goal_form.tasks }}
      <label for="{{ goal_form.restrictions.id_for_label }}">Restrictions:</label>
      {{ goal_form.restrictions }}
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

<div class="container" id="task-list">
  <h2>Task List:</h2>
  <ul>
    {% for task in tasks %}
      <li>{{ task.name }}</li>
    {% endfor %}
  </ul>
</div>

<div class="container" id="new-task">
  <h2>Create New Task:</h2>
  <div class="hidden" id="task-form">
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name='action' value="new_task">
      <label for="{{ task_form.name.id_for_label }}">Name:</label>
      {{ task_form.name }}
      <br><br>
      <label for="{{ task_form.description.id_for_label }}">Description:</label>
      {{ task_form.description }}
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

<div class="container" id="restriction-list">
  <h2>Restriction List:</h2>
  <ul>
    {% for restriction in restrictions %}
      <li>{{ restriction.name }}</li>
    {% endfor %}
  </ul>
</div>

<div class="container" id="new-restriction">
  <h2>Create New Restriction:</h2>
  <div class="hidden" id="restriction-form">
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name='action' value="new_restriction">
      <label for="{{ restriction_form.name.id_for_label }}">Name:</label>
      {{ restriction_form.name }}
      <br><br>
      <label for="{{ restriction_form.description.id_for_label }}">Description:</label>
      {{ restriction_form.description }}
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

{% endblock %}
