{% extends 'base.html' %} {% load static %}

{% block style %}
  <style>
    .container {
      border: 1px solid black;
      border-radius: 10px;
      padding: 0 30px 30px 30px;
      margin: 20px;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container" id="goal-list">
  <h2>Goal List:</h2>
  <ul>
    {% for goal in goals %}
      <li>{{ goal.name }}</li>
    {% endfor %}
  </ul>
</div>
<div class="container" id="new-goal">
  <h2>Create New Goal:</h2>
  <div class="hidden" id="goal-form">
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name='action' value="new_goal">
      <label for="{{ goal_form.name.id_for_label }}">Name:</label>
      {{ goal_form.name }}
      <br><br>
      <label for="{{ goal_form.description.id_for_label }}">Description:</label>
      {{ goal_form.description }}
      <br><br>
      <label for="{{ goal_form.tasks.id_for_label }}">Tasks:</label>
      {{ goal_form.tasks }}
      <label for="{{ goal_form.restrictions.id_for_label }}">Restrictions:</label>
      {{ goal_form.restrictions }}
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
<div class="container" id="new-task">
  <h2>Create New Task:</h2>
  <div class="hidden" id="task-form">
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name='action' value="new_task">
      {{ task_form.name }}
      {{ task_form.description }}
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
<div class="container" id="new-restriction">
  <h2>Create New Restriction:</h2>
  <div class="hidden" id="restriction-form">
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name='action' value="new_restriction">
      {{ restriction_form.name }}
      {{ restriction_form.description }}
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock %}
